<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Masterlist page</title>
    <link rel="stylesheet" href="../../Masterlist.css">
</head>
<body>
    <div class="container">
       <div class="sidebar">
          <div class="upper-sidebar-container">
            <div class="hi-kap">
                <h1>Hi Kap!</h1>
            </div>
            <div class="brgy-number">
                <h1>684</h1>
            </div>
          </div>
          <div class="sidebar-buttons-container">
            <div class="sidebar-upper-buttons">
                <div class="sidebar-buttons" onclick="window.location.href='/kapitan/home'"><p>Home</p></div>
                <div class="sidebar-buttons" onclick="window.location.href='/kapitan/admin'"><p>Admin</p></div>
                <div class="sidebar-buttons" id="selected-page" onclick="window.location.href='/kapitan/masterlist'"><p>Master List</p></div>
                <div class="sidebar-buttons" onclick="window.location.href='http://www.manilahealthdepartment.com/'"><p>MHD Appointment</p></div>
            </div>
            <div class="sidebar-lower-buttons">
                <div class="sidebar-buttons" onclick="window.location.href='/logout'"><p>Logout</p></div>
            </div>
          </div>
        </div>
    <div class="content">
        <div class="pcontainer1">
            <div class="plist">
                <div class="section-centeredflex">
                    <table class="prospecttable">
                        <tr>                    
                            <th class="prospectth"><button type="submit">Full Name</button></th>
                            <th class="prospectth"><button type="submit">Age</button></th>
                            <th class="prospectth"><button type="submit">BirthDate</button></th>
                            <th class="prospectth"><button type="submit">Gender</button></th>
                            <th class="prospectth"><button type="submit">Contact No.</button></th>
                            <th class="prospectth"><button type="submit">Address</button></th>
                            <th class="prospectth"><button type="submit">Marital Status</button></th>
                            <th class="prospectth"><button type="submit">Remarks</button></th>
                            <th class="prospectth"><button type="submit">Medical Condition</button></th>
                            <th class="prospectth"><button type="submit">Voter</button></th>
                            <th class="prospectth"><button type="submit">PWD</button></th>
                            <th></th>
                        </tr>
                        {{#each data}}
                            <form action="/edit-resident" method="post" id="edit-form">
                                <input type="hidden" name="editresident" id="editresident" value="{{resident_id}}">
                                    <tr class="table-row">
                                        <td>{{fname}} {{mi}} {{lname}} {{suffix}}</td>
                                        <td>{{age}}</td>
                                        <td>{{birthdate}}</td>
                                        <td>{{gender}}</td>
                                        <td>{{contact}}</td>
                                        <td>{{addressline1}} {{addressline2}} {{city}}</td>
                                        <td>{{status}}</td>
                                        <td>{{remarks}}</td>
                                        <td>{{medical_condition}}</td>
                                        <td>{{is_voter}}</td>
                                        <td>{{is_pwd}}</td>
                                        <td><input type="submit" value="edit"></td>
                                    </tr>
                            </form>
                        {{/each}}
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
